* {
     margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.6;
    background-color: #fdd3d3;
    color: #080808;
}
main{
    max-width: 800px;
    margin: 0 auto;
}
section{
    padding: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
navbar{
    display: flex;
    
    justify-content: space-between;
    align-items: center;
}
nav a{
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    font-size: 18px;
}
h2{
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
    border-bottom: 2px solid #e1e4e8;
    padding-bottom: 5px;
}
.project-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
}
.project-card{
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;

}
.project-card:hover{
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}
.card-content{
    padding: 30px;
}
.project-tag{
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    background-color: #e1e4e8;
    color: #333;
    padding: 5px 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}
.project-card h3{
    font-size: 1.3rem;
    margin:0 0 10px 0;
    color: #f87070;

}
.project-card p{
    font-size: 1rem;
    color: #030000;
    margin-bottom: 10px;
}
.button-github{
    display: inline-block;
    padding: 10px 20px;
    background-color: #f87070;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 2rem;
    font-weight: 500;
    transition: background-color 0.3s ease;
}
.button-github:hover{
    background-color: #e1e4e8;
    color: #f87070;
}
.testimonials-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
}
.testimonial-card{
    background-color: #f9f9f9;
    border-left: 5px solid #f87070;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    justify-content: space-between;
}
.testimonial-card.quote{
    font-style: italic;
    font-size: 1.2rem;
    color: #020000;
    margin-bottom: 10px;
}
.testimonial-card.role{
    font-weight: bold;
    color: #f87070;
}
.testimonial-card:hover{
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}
section{
    scroll-behavior: smooth;
}
